<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Developer Portfolio</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="container">
                <a href="#" hx-get="/about.html" hx-trigger="click" hx-target="#main-content">01. About</a>
                <a href="#" hx-get="/projects.html" hx-trigger="click" hx-target="#main-content">02. Projects</a>
                <a href="#" hx-get="/contact.html" hx-trigger="click" hx-target="#main-content">03. Contact</a>
                <button href="#" hx-get="/resume.html" hx-trigger="click" hx-target="#main-content" class="resume-btn">Resume</button>
            </div>
        </nav>
        <div class="container">
            <p>Hi, my name is</p>
            <h1>Steven Juarez.</h1>
            <p>I build things for the web.</p>
        </div>
    </header>
    <main hx-boost="true" id="main-content" class="container">
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Steven Juarez. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
