/*Root Section For Declaring Global Variables and HMTL Tag*/
/* :root {
    
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

@view-transition {
    navigation: auto;
}

@keyframes fade-in {
    from { opacity: 0.5; }
}

@keyframes fade-out {
    to { opacity: 0; }
}

@keyframes slide-from-right {
    from { transform: translateX(300px) skewX(-0.03turn); }
}

@keyframes slide-to-left {
    to { transform: translateX(-90px); }
}

/* define animations for the old and new content */
::view-transition-old(slide-it) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.1, 0, 0.7, 1) both slide-to-left;
}

::view-transition-new(slide-it) {
    animation: 420ms cubic-bezier(0.4, 0, 1, 1) both fade-in,
    175ms cubic-bezier(0.1, 0, 0.7, 1) both slide-from-right;
}

/* tie the view transition to a given CSS class */
.sample-transition {
    view-transition-name: slide-it;
}

/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #62c7d0;
    background: linear-gradient(60deg, #0a192f, #104e65, #311228);
	background-size: 400% 400%;
	animation: gradient 90s ease infinite;
	height: fit-content;
    overflow: hidden auto;
    background-color: #0a192f;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
header {
    /* margin: 10%; */
    /* text-align: center; */
    /* position: relative; */
    opacity: 100%;
    z-index: 1;
    animation: headerScroll ease-out;
    animation-timeline: scroll();
}

@keyframes headerScroll {
    to {opacity: 0%;}
}

header h1 {
    font-size: 3em;
    margin: 0;
    color: #ccd6f6;
}

header p {
    margin: 10px;
    font-size: 1.5em;
    color: #e7e575;
}

/* Navigation Styles */
.nav-bar {
    display: flex;
    justify-content: center;
    background: linear-gradient(270deg, #1f314d, #284a74, #082d31);
    background-size: 300% 300%;
    animation: navGradient 60s ease-in-out infinite;
    /* background: #2d3d49; */
    /* padding: 20px 0 20px 0; */
    position: sticky;
    top: -485px;
    padding-top: 500px;
    margin-top: -500px;
    /* height: 5vh; */
    opacity: 100%;
    z-index: 2;
}

@keyframes navGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .nav-bar .wrapper {
    
} */

li {
    display: inline-block;
}

.nav-bar a {
    color: rgb(220, 241, 81);
    text-decoration: none;
    margin: 6px 2rem 0 2rem;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-bar a:hover {
    color: #64ffda;
}

.nav-bar a:focus {
    color: #64ffda;
}

/* Main Content Styles */
main {
    padding: 50px 0 50px 0;
}

h1 {
    font-size: 2.5em;
    color: #e7e575;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5em;
    color: #e7e575;
    /* margin-bottom: 20px; */
}

p {
    line-height: 1.6;
    font-size: 1.2em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Footer Styles */
footer {
    position: relative;
    justify-content: center;
    /* padding: 20px 0; */
    
}

footer p {
    margin: 0;
    text-align: center;
}

/* Resume Button Styles */
.resume-btn {
    display: inline;
    border: 1px solid #64ffda;
    padding: 10px 20px 10px 20px;
    color: rgb(220, 241, 81);
    margin-top: -5px;
    font-size: 1em;
    text-decoration: none;
    position: relative;
    transition: background-color 1s, color 1s;
}

.resume-btn.resume-btn:hover {
    background-color: #64ffda;
    color: #4933b4;
}

.resume-btn.resume-btn:focus {
    background-color: #8f1fa9;
    color: #64ffda;
}

@media screen and (max-width: 900px) {
    .resume-btn {
        font-size: smaller;
        margin-top: 0;
    }
}

@media screen and (max-width: 700px) {
    .nav-bar a {     
        font-size: 2.5vw;
        margin: 14px 1rem 0 .7rem;
    }

    footer p {
        font-size: smaller;
    }
    
}

/* Contact Email Styles */
.contact-email {
    color: #64ffda;
}