<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Developer Portfolio</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>Steven Juarez</h1>
            <p>Python Developer | Test Engineer</p>
        </div>
    </header>
    <nav class="nav-bar">
        <div class="container">
            <a href="#about" hx-get="about.html" hx-trigger="click" hx-target="#main-content">About</a>
            <a href="#projects" hx-get="projects.html" hx-trigger="click" hx-target="#main-content">Projects</a>
            <a href="#contact" hx-get="contact.html" hx-trigger="click" hx-target="#main-content">Contact</a>
        </div>
    </nav>
    <main id="main-content" class="container">
        <section id="about">
            <h2>About Me</h2>
            <p>Hello! I'm Steven Juarez, a software developer specializing in Python and Flask and E2E Test Automation. I have a passion for creating dynamic and efficient web applications and ensuring only top quality releases make it to production.</p>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Steven Juarez. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
